@mixin font-style($font-family, $font-size, $font-weight, $line-height, $letter-spacing, $text-color, $text-transform) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $text-color;
  text-transform: $text-transform;
}

//desktop
@mixin desktop-inter-small {
  @include font-style('Inter', 16px, 400, normal, 0, #E4E5EA, none);
}

@mixin desktop-inter-normal {
  @include font-style('Inter', 16px, 500, normal, 0, #E4E5EA, none);
}

@mixin desktop-inter-subtitle {
  @include font-style('Inter', 18px, 500, normal, 0.9, #E4E5EA, uppercase);
}
@mixin desktop-inter-footer-subtitle {
  @include font-style('Inter', 14px, 700, normal, 0.7, #E4E5EA, uppercase);
}

@mixin desktop-inter-large {
  @include font-style('Inter', 48px, 900, normal, 0, #E4E5EA, none);
}

@mixin desktop-montserrat-small {
  @include font-style('Montserrat', 10px, 300, normal, 0, #E4E5EA, none);
}

@mixin desktop-montserrat-normal {
  @include font-style('Montserrat', 16px, 400, normal, 0, #E4E5EA, none);
}

@mixin desktop-montserrat-md {
  @include font-style('Montserrat', 18px, 400, normal, 0, #E4E5EA, none);
}



// mobile
@mixin mobile-inter-small {
  @include font-style('Inter', 12px, 500, normal, 0, #E4E5EA, none);
}

@mixin mobile-inter-large {
  @include font-style('Inter', 36px, 400, normal, 0, #E4E5EA, none);
}

@mixin mobile-inter-super-large {
  @include font-style('Inter', 48px, 400, normal, 0, #E4E5EA, none);
}

@mixin mobile-montserrat-normal {
  @include font-style('Montserrat', 13px, 400, normal, 0.65px, #E4E5EA, uppercase);
}

@mixin mobile-montserrat-small {
  @include font-style('Montserrat', 12px, 400, normal, 0.65px, #E4E5EA, none);
}

