@import "../../styles/helpers/mixins.scss";
@import "../../styles/helpers/colors.scss";

.Button button {
  width: 262px;
  height: 61px;
  background: $inactive-button;
  color: $general-white;
  text-align: center;
  @include desktop-inter-normal;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background: $hovered-button;
    color: $hovered-button-title;
  }
}

