@import "../../styles/helpers/mixins.scss";
@import "../../styles/helpers/colors.scss";

.Body {
  margin: 100px 150px;
  display: flex;
  background-color: $background;
  justify-content: space-between;

  @media (max-width: 768px) {
    display: block;
    margin: 0 5px;
  }

  &__leftColumn {
    text-align: left;
    padding-top: 90px;
    @media (max-width: 768px) {
      padding-top: 50px;
    }
  }

  &__withWelbex {
    background-color: $background;
    display: block;
    @media (max-width:768px) {
      width: 186px;
      height: 44px;
    }
  }

  &__redBallMobile {
    display: none;
    @media (max-width: 768px) {
      display: block;
      position: absolute;
      width: 58px;
      height: 58px;
      top: 60px;
      left: 50px;
    }
  }

  &__earnMore {
    @include mobile-inter-super-large;
    @media (max-width: 768px) {
      width: 100%;
      @include mobile-inter-large;
    }
  }

  &__welbex {
    margin-top: 0;
    margin-bottom: 0;
    @media (max-width:768px) {
    }
  }

  &__develop {
    position: relative;
    @include desktop-montserrat-md;
    margin-top: 0;
    padding-top: 30px;
    @media (max-width: 768px) {
      padding-top: 15px;
    }
  }

  &__blueBall {
    display: none;
    @media (max-width: 768px) {
      display: block;
      position: absolute;
      width: 60px;
      height: 60px;
      top: 220px;
      left: 280px;
    }
  }

  &__rightColumn {
    display: flex;
    flex-direction: column;
    text-align: right;
    @media (max-width: 768px) {
      display: block;
      text-align: left;
    }
  }

  &__smallRedBall {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 250px;
    left: 20px;
  }

  &__crm {
    padding-top: 32px;
    padding-bottom: 33px;
    @include desktop-montserrat-normal;
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__freeConsultation {
    padding-bottom: 40px;
    @media (max-width: 768px) {
      padding-bottom: 0;
      padding-top: 45px;
    }
  }

  &__skypeAuditHiddenInDesktop {
    display: none;
    @media (max-width: 768px) {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 20px 35px;
      @include mobile-montserrat-normal;
    }
  }

  &__thirty {
    padding-bottom: 30px;
  }

  &__salesDep {
    padding-bottom: 82px;
  }

  &__twoRowsColumn {
    position: relative;

    h4 {
      @include desktop-inter-subtitle;
    }

    h5 {
      @include desktop-montserrat-normal;
    }

    display: flex;
    flex-wrap: wrap;

    > div {
      flex-basis: calc(50% - 20px);
      flex-grow: 1;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__button {
    display: block;

    @media (max-width: 768px) {
      display: none;
    }
  }
}
