@import "~sass-rem";
@import "./helpers/mixins";
@import "./helpers/fonts";
@import "./helpers/colors";

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: $background;
  margin: 0;
}

footer {
  background-color: $background;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, button, ul {
  padding: 0;
  margin: 0;
}
$rem-baseline: 16px;

html,
body {
  @include rem-baseline(1.1vw);
}
