@import "../../styles/helpers/mixins.scss";
@import "../../styles/helpers/colors.scss";

.Navigation {
  display: flex;
  gap: 30px;
  justify-content: center;
  height: 100%;
  margin-left: 52px;
  margin-right: 137px;
  border: 2px white solid;

  @media (max-width: 768px) {
    width: 100%;
   margin-left: 5px;
    margin-right: 5px;
    gap: 16px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
  }


  a {
    @include desktop-inter-normal;
    text-decoration: none;

    &:hover {
      color: $hovered-header-links;
    }
  }
  @media (max-width: 768px) {
    a {
      @include mobile-inter-small;
      text-transform: uppercase;
    }
  }
}

