@import "../../styles/helpers/mixins.scss";
@import "../../styles/helpers/colors.scss";

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 46px 150px 0;
  background-color: $background;

  @media (max-width: 768px) {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 55px;
    padding:0;
    }
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    @media (max-width: 768px) {
     width: 100%;
    }
  }

  &__icons {
    display: flex;
    gap: 8px;
  }

  &__velbexIcon {
    padding-right: 8px;
  }

  &__bigRedBall {
    position: absolute;
    width: 83px;
    height: 83px;
    top: 70px;
    left: 620px;
  }

  &__iconsAndMotto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__motto {
    @include desktop-montserrat-small;
    text-align: left;
    p {
      margin-bottom: 0;
    }
  }

  &__details {
    position: relative;
    @include desktop-inter-normal;
    display: flex;
    gap: 30px;
    align-items: center;
    color: $general-white;
    img {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__purpleBall {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -50px;
    left: -150px;
  }

  &__phone {
    margin-right: 47px;
  }

  &__telegram {
    padding-right: 30px;
  }

  &__viber {
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .Header__iconsAndMotto, .Header__details {
    display: none;
  }
}


