@import "../../styles/helpers/mixins.scss";
@import "../../styles/helpers/colors.scss";

.Footer {
  margin-left: 249px;
  margin-right: 50px;
  padding-top: 198px;
  border: 2px red solid;
  color: $general-white;

  display: flex;
  justify-content: space-between;

  h4 {
    padding-bottom: 20px;
    @include desktop-inter-footer-subtitle;
    color: $footer-subtitles

  }

  h5 {
    @include desktop-inter-normal;
  }
  h6{
    @include desktop-inter-small;
  }

  p {
    padding-bottom: 10px;
    @include desktop-inter-small;
    &:hover {
      cursor: pointer;
      color: $hovered-footer-links;
    }
  }

  &__about {
    text-align: left;
  }

  &__menu {
    text-align: left;
  }

  &__noTitle {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
  }

  &__contacts {
    text-align: right;

    h5 {
      padding-bottom: 20px;
    }

    img {
      padding-bottom: 20px;
      padding-left: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
